<!doctype html>
<html lang="en">
  <!-- values render from BE route-->
  <input type="hidden" name="game-id" id="game-id" value="<%= gameId %>" />

  <input
    type="hidden"
    name="current-user-id"
    id="current-user-id"
    value="<%= user.id %>"
  />
  <input
    type="hidden"
    name="current-user-name"
    id="current-user-name"
    value="<%= user.username %>"
  />

  <% if(errorMsg && errorMsg.length > 0) { %>
  <script>
    alert("<%= errorMsg %>");
  </script>
  <% } %>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <link rel="stylesheet" href="/dist/style.css" />
    <script src="/dist/index.js" defer></script>
    <%- include("./layout/favicons") %>
  </head>

  <%- include("./layout/nav-bar") %>

  <body class="bg-gray-200 flex flex-col items-center justify-center h-screen">
    <div class="container mx-auto px-4">
      <div class="flex justify-between">
        <!-- Rules Container -->
        <div class="w-1/3 p-4 border border-red-500">
          <h2 class="text-lg font-bold mb-4 text-red-500">Rules Container</h2>
          <div class="rules-content">
            <p class="border-l-4 border-red-500 pl-4 mb-4">
              <span class="font-bold block mb-2">Setup:</span>
              The deck consists of 108 cards - 25 cards in each of red, green,
              blue, and yellow, with values of 0-9 in each color. There are also
              8 "Draw Two" and "Reverse" cards, and 4 "Skip" and "Wild" cards.
              Choose a dealer and deal each player 7 cards. Place the remaining
              cards face down in the center to form a draw pile. Flip over the
              top card to start the discard pile.
            </p>

            <p class="border-l-4 border-red-500 pl-4 mb-4">
              <span class="font-bold block mb-2">Playing the Game:</span>
              Players take turns matching a card from their hand to the card on
              the top of the discard pile, either by number, color, or symbol
              (symbols are Draw Two, Reverse, and Skip). If you don't have a
              matching card, you must draw from the draw pile until you get a
              playable card.
            </p>

            <p class="border-l-4 border-red-500 pl-4 mb-4">
              <span class="font-bold block mb-2">Special Cards:</span>
              Skip: When played, skip the next player. Reverse: Reverses
              direction of play. Draw Two: Next player draws two cards and
              misses a turn. Wild: Play any color you want and state the new
              color. Wild Draw Four: Player gets to choose new color and next
              player draws four cards and misses a turn. Can only be played if
              the player doesn't have a card in the color led.
            </p>

            <p class="border-l-4 border-red-500 pl-4 mb-4">
              <span class="font-bold block mb-2">Going Out (Getting Uno):</span>
              When you get down to one card left, you must say "Uno" to alert
              other players. Failing to do so results in drawing two more cards
              if caught. You can go out by discarding your second-to-last card
              if it matches the upcard, then discarding your last card. The
              first player to get rid of all their cards wins! Players score
              points for cards left in opponents' hands.
            </p>
          </div>
        </div>

        <!-- Lobby Container -->
        <div class="w-1/3 p-4 border border-pink-500">
          <h2 class="text-lg font-bold mb-4">Lobby Container</h2>
          <p>Welcome, <%= user.username %></p>
          <div class="flex flex-col justify-center items-center">
            <button class="bg-blue-500 text-white px-4 py-2 rounded mt-4">
              Start Game
            </button>
            <button class="bg-red-500 text-white px-4 py-2 rounded mt-4">
              Join a Game
            </button>
            <form action="/logout" method="post">
              <button
                type="submit"
                class="bg-green-500 text-white px-4 py-2 rounded mt-4"
              >
                Logout
              </button>
            </form>
          </div>
        </div>

        <!-- Chat Box Container -->
        <div class="w-1/3 flex flex-col border border-blue-500 p-4">
          <h2 class="text-lg font-bold mb-4">Chat Box Container</h2>
          <!-- Chat messages area -->
          <div
            id="chatbox"
            class="flex-grow overflow-y-auto"
            style="max-height: calc(100vh - 200px)"
          >
            <!-- Simulated messages -->
            <div class="flex justify-end mb-2">
              <div class="bg-blue-200 text-blue-700 rounded py-2 px-4">
                <p>Hello, anyone there?</p>
                <p class="text-right font-bold">6ix9ine</p>
              </div>
            </div>
            <div class="flex justify-end mb-2">
              <div class="bg-blue-200 text-blue-700 rounded py-2 px-4">
                <p>I'm here</p>
                <p class="text-right font-bold">Donald Trump</p>
              </div>
            </div>
            <div class="flex justify-end mb-2">
              <div class="bg-blue-200 text-blue-700 rounded py-2 px-4">
                <p>I'm here too</p>
                <p class="text-right font-bold">Kanye West</p>
              </div>
            </div>
            <!-- Lobby messages will be inserted here -->
          </div>
          <!-- Chat form to send new messages -->
          <form id="chatForm" class="flex mt-4">
            <input
              type="text"
              placeholder="Type your message"
              id="chatMessage"
              name="chatMessage"
              class="flex-grow border rounded-md p-2"
            />
            <button
              type="submit"
              class="bg-blue-500 text-white px-4 py-2 rounded ml-2"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
