<!doctype html>
<html lang="en">
<%- include("./layout/server-var") %>

  <% if(errorMsg && errorMsg.length> 0) {
    %>
    <script>
      alert("<%= errorMsg %>");
    </script>
    <% } %>

      <head>
        <%- include("./layout/header") %>
          <title>Lobby</title>
      </head>

      <%- include("./layout/nav-bar") %>

        <body class="bg-gray-200 flex flex-col items-center justify-center h-screen">
          <div class="container mx-auto px-4">
            <div class="flex justify-between">
              <!-- Rules Container -->
              <div class="w-1/3 p-4 border border-red-500">
                <h2 class="text-lg font-bold mb-4 text-red-500">Rules Container</h2>
                <%- include("./layout/rules") %>
              </div>

              <!-- Waitroom Container -->
              <div class="w-1/3 p-4 border border-pink-500">
                <h2 class="text-lg font-bold mb-4">WAITING ROOM</h2>
                <div class="flex flex-col justify-center items-center max-h-full border border-blue-500 p-4">
                  <div class="mb-4">
                    <h3 class="text-xl font-bold">Welcome <%= user.username %>
                    </h3>
                  </div>
                  <div class="mb-4">
                    Game room: <%= game.room_name %> <br />
                      Game ID:
                      <%= gameId %>
                  </div>

                  <!-- Waitroom Info here -->
                  <div class="mb-4" id="players-count">
                    <%= playersCount %> / <%= maxPlayers %> players joined
                  </div>
                  <div class="mb-4" id="players-in-game">
                    <% usersInGame.forEach(player=> { %>
                      <p>
                        <%= player.username %>
                      </p>
                      <% }); %>
                  </div>


                  <!-- Invite player here --> 
                    <select id="invPlayer" class="w-full p-2 border border-gray-300 rounded"
                    <% if(playersCount == maxPlayers) { %>
                      disabled
                    <% } %> >
                        <option value="" disabled selected>Invite Players</option>
                        <% playersList.forEach(player=> { %>
                          <option value="<%= player.username %>">
                            <%= player.username %>
                          </option>
                          <% }); %>
                    </select>

                  <div>
                    <form id="startGameForm" class="mb-4" action="/game/<%= gameId %>/start" method="post">

                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-4 w-full" id="playGameButton">
                      Start Game
                    </button>

                  </form>

                    <button class="bg-gray-500 text-white px-4 py-2 rounded mt-4 w-full" id="goBackButton"
                      onclick="redirectToLobby()">
                      Go Back
                    </button>
                  </div>
                </div>
              </div>

              <%- include("./layout/chat-box") %>
            </div>
          </div>
        </body>

        <script>
          function redirectToLobby() {
            window.location.href = "/lobby";
          }
        </script>

</html>